.main {
    padding: 20px 0px;
}

.form-control {
    background-color: black;
    margin-top: 15px;
    width: 50%;
    color: lightslategray;
}

.btn-submit {
    color: #b4bcc5 !important;
    background-color: black !important;
    border-radius: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.btn-submit:hover{
    /* border-color:black !important; */
    color:black !important;
    background-color: white !important;
}

.date {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}