p{
    font-family: 'Courier New', Courier, monospace;
}

.title > span{
    font-weight: 900;
    font-size: 30px;
    margin-left: 5px;
}

.title{
    padding-top: 50px;
}

.main{
    padding-left: 10px;
    padding-right:10px;
}

.title-sm{
    padding-left: 10px;
    color: lightslategray;
}