 
 body {
     height: 100%; 
     background-color: black;
     color:white;
     margin: 0 !important; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
    }


 input[type=submit]{
    font-family: sans-serif;
    width: 200px !important;
    background-color: white !important;
 }


 input[type=submit]:hover{
    color: white;
    background-color: orangered;
}

.left-align{
 padding-left: 3%;
} 

/* body{
   background-color: #0000ff40;
} */