.btn-route{
    color: white !important;
    width:200px !important;
    font-size: 16.5px;

    font-family: sans-serif !important;
    background-color: orangered !important;
}

.btn-route:first-child{
    margin-right: 10px;
}